<div class="sidebar">
  <div class="sidebar__channels">
    <h3 class="col__header">Channels</h3>
    <ul class="" id="channels">
      <li id="create" class="channel__li">
        <a href="/channels/create">Create channel</a>
      </li>
    </ul>
  </div>
  <div class="sidebar__users">
    <h3 class="col__header">Users</h3>
    <h2 class="col__header">Direct message or view your profile</h2>
    <ul class="col__header user-list" id="usersUl">
    </ul>
  </div>
</div>