<%- include ('./partials/sidebar') %>
<%- include ('./partials/messages') %>
<main class="container main__container">
  <div class="card">
    <h1>Edit post</h1>
    <h2>Made to channel</h2>
    <form method="POST" action="/profile">
      <span>Name:</span><br />
      <input type="text" name="newUserName" value="<%= user.name %>" /><br />
      <span>Email:</span><br />
      <input type="text" name="newUserEmail" value="<%= user.email %>" /><br />
      <input type="submit" class="btn" value="Send changes" />
    </form>
  </div>
</main>
<!-- ----------JAVASCRIPT---------- -->
<script src="../socket.io/socket.io.js"></script>
<script src="../public/scripts/utils.js"></script>
<script src="../public/scripts/useApi.js"></script>
<script src="../public/scripts/useSocket.js"></script>
<script src="../public/scripts/main.js"></script>
