<%- include('blocks/head', { title: 'Wack - login' }) -%> <%-
include('blocks/navbar') -%>
<section class="first-section">
  <div class="container row">
    <div class="col">
      <h1 class="main-title">Welcome to wack:</h1>
      <h2 class="main-title">where everything but work happens</h2>
      <div class="d-flex">
        <a class="btn btn__large" href="/home">Sign in</a>
      </div>
    </div>
  </div>
</section>
<%- include('blocks/bottom') -%>
