<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wack</title>
</head>
<body>
  <header>
    <div class="container nav__container">
      <span>whack</span>
      <nav>
        <ul>
          <li>home</li>
          <li>about</li>
          <li>contact</li>
        </ul>
        <ul>
          <li>sign in</li>
          <li>sign up</li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="first-section">
    <h1>Welcome to wack:</h1>
    <h2>where everything but work happens</h2>
  </section>
  <section class="second-section">
    <ul id="messages"></ul>
    <form id="input" autocomplete="off" />
      <button>Post (later enter)</button>
    </form>
  </section>
</body>
</html>