<main class="landing">
  <div class="container row">
    <div class="col">
      <h1 class="main-title title">Welcome to wack:</h1>
      <h2 class="main-title subtitle">where everything but work happens</h2>
      <div class="d-flex text-white">
        <a class="btn btn__large" href="/signin">Sign in</a>
      </div>
    </div>
  </div>
</main>
