<main class="main__container">
  <div class="card">
    <h1>Sign in</h1>
    <%- include ('./partials/messages') %>
    <form action="/users/signin" method="POST">
      <div class="card__item">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter Email" autocomplete="username" />
      </div>
      <div class="card__item">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter Password" autocomplete="current-password" />
      </div>
      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>
  </div>
</main>

