<header>
  <div class="container nav__container">
    <div class="logo__wrapper">
      <span class="logo">whack</span>
    </div>
    <nav>
      <ul class="nav__list nav__list--primary">
        <li class="nav__item"><a class="nav__link" href="#">home</a></li>
        <li class="nav__item"><a class="nav__link" href="#">about</a></li>
        <li class="nav__item"><a class="nav__link" href="#">contact</a></li>
      </ul>
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#">sign in</a></li>
        <li class="nav__item">
          <a class="nav__link btn nav__btn" href="#">sign up</a>
        </li>
      </ul>
    </nav>
  </div>
</header>