*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #2e323f;
  --dark: #3b4050;
  --secondary: #e1e0e0;
  --white: #fff;
  --third: #a59678;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px; /* 16px */
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem; /* 18px */
}

.container {
  margin: 0 auto;
  padding: 2em 0;
  width: 80%;
  max-width: 1200px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col__sidebar {
  width: 20%;
}

.col__main {
  width: 70%;
}

.nav__container {
  padding: 0.8em 0;
}

.logo__wrapper {
  margin: auto;
}

.nav__list,
.link-list {
  list-style: none;
  margin: 0;
  padding: 0.5em 0;
}

.nav__list {
  display: flex;
}

.nav__link {
  text-decoration: none;
  margin: 0 0.4em;
}

.nav__link:hover {
  text-decoration: none;
  opacity: 0.5;
}

.btn {
  padding: 0.2em 0.8em;
  border-radius: 100px;
  border: none;
}

.main__container {
  width: 100%;
}

.main-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 5.625rem);
}

#form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
}

#input {
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 0.5rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form > button {
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: lightgray;
}

/* Media queries */

@media (min-width: 700px) {
  .nav__container {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
  }

  .nav__list--primary {
    margin-right: 2.5em;
  }
}
