*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #2e323f;
  --dark: #3b4050;
  --secondary: #e1e0e0;
  --white: #fff;
  --third: #a59678;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px; /* 16px */
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem; /* 18px */
}

.container {
  margin: 0 auto;
  padding: 1em 0;
  width: 80%;
  max-width: 1200px;
}

.nav__container {
  padding: 0.8em 0;
}

.logo__wrapper {
  margin: auto;
}

.nav__list,
.link-list {
  list-style: none;
  margin: 0;
  padding: 0.5em 0;
}

.nav__list {
  display: flex;
}

.nav__link {
  text-decoration: none;
  margin: 0 0.4em;
}

.nav__link:hover {
  text-decoration: none;
  opacity: 0.5;
}

.btn {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 0.2em 0.8em;
  border-radius: 100px;
  border: none;
  text-transform: uppercase;
  background-color: lightgray;
}

.btn__medium {
  font-size: 1.5rem;
}

.btn__large {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.mb-1 {
  margin-bottom: 1rem;
}

.text-muted {
  font-size: 0.85rem;
  opacity: 0.7;
}

.d-flex {
  display: flex;
}

.btn:hover {
  text-decoration: none;
  opacity: 0.5;
}

.main__container {
  width: 100%;
}

.main-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 5rem);
  margin: 0.3em;
}

.col__sidebar {
  padding: 1rem;
}

.channel__li {
  list-style-type: none;
}

#channels {
  padding: 0;
  font-size: 1rem;
}

.col__header {
  padding-left: 1rem;
  font-size: 0.8rem;
}

.card{
  width: 400px;
  max-width: 95%;
  margin: 0 auto;
}

#form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
}

.form {
  position: fixed;
  bottom: 0;
}

#input {
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 0.5rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form > button {
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
}

#posts, #users {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#posts > li, #users > li {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: lightgray;
}

#users > li {
  font-size: 0.7rem;
}

/* Media queries */

@media (min-width: 800px) {
  .nav__container {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
  }

  .nav__list--primary {
    margin-right: 2.5em;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .col__sidebar {
    width: 20%;
  }
  
  .col__posts {
    width: 65%;
  }

  .col__users {
    width: 15%;
  }
}
